*{
    gap: 10px;
    box-sizing: border-box;
    h1{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    p{
        font-family:'Times New Roman', Times, serif;
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    *{
        font-size: 1.5vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

:root{
    color-scheme: ligth;

    --fundo--: #6a1b11;
    --caixa--: #0f1b2e;
    --topico--: #ffffff;
    --fontg--: rgb(70, 57, 57)
    
    /* --fonte--: rgb(255, 255, 255); */
    /* --cor1--: rgb(216, 166, 0);  
    --cor2--: rgb(255, 255, 255);
    --sombra--: rgb(56, 26, 26);
    --fundo1--: rgb(255, 72, 0); */
}

body{
    /* background: linear-gradient(var(--fundo--) 15%, rgb(0, 0, 0) 95%); */
    background-color: var(--fundo--);
    margin: 0;
    padding: 0;
    /* text-shadow: 1pt 1pt 3mm; */
}

hr{
    width: 100%;
    display: block;
}

b{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#exib{
    text-align: center;
}

/* head{
    margin: 0;
    width: 10vw;
} */

header{
    /* width: 100vw;
    height: 10cp; */
    padding: 10%;

    background-image: url(fotorodape.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 1pt 1pt 3mm black;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

    
    >#titulo{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        color: #ffc72e;
        font-style: oblique;
        text-shadow: 2px 2px 3px var(--fundo--) ;
        /* line-height: 0.8; */

            h2{
                font-size: 6vw;
            }

            >.desde{
                font-size: 3vw;
            }
        }

    >.logo{
        width: 30%;
        height: 40%;
        margin-right: 5%;

        display: flex;
        flex-wrap: nowrap;
        align-items: start;
        }

}

.refs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 50px;
    box-shadow: 1pt 1pt 3mm;

    font-size: 2vw;
}

html{
    scroll-behavior: smooth;
}

#infos{
    margin: 20px;
    color: var(--cor2--);
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 10px;
    width: 60%;
    height: 60%;
    min-height: 190px;
    outline: none;
    size-adjust: contain;
  

    .infores{
        padding: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        flex: 0 0 100% ;
        /* width: 100%;
        max-width: 100%; */
        max-height: 50vw;
        box-sizing: border-box;
        scroll-snap-align: start;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 8px 0 8px -5px black;

        color: white;
        text-shadow: 1pt 1pt 3mm black;
        font-size: 4vw;
        text-align: right;

            #topic{
                font-size: 6vw;
                text-align: left;

            }
    
            >#ult{
                border-left: 2px solid rgb(255, 255, 255);
                padding-left: 5vw;
                color: rgb(255, 255, 255);
            }

    }  
}

#infos::-webkit-scrollbar{
    display: none;
}

#lider{
    margin: 20px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
    background-color: rgb(255, 255, 255);
    box-shadow: 1pt 1pt 3mm black;

    img{
        width: 30vw;
        height: 40vw;
        margin: 2px;
    }

    #nomes{
        letter-spacing: -2px;

        h1{
            font-size: 200%;
        }

        h2{
            font-size: 190%;
            font-family: 'Times New Roman', Times, serif;
        }

        p{
            font-size: 170%;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        

    }
}

#calendario{
    margin: 20px;
    color: var(--cor2--);
    display: flex;
    justify-self: center;

    width: 90%;
    min-height: 80px;
    height: auto;
    padding: 10px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 10px;
    outline: none;
    
    box-shadow: inset 10pt 15pt 30mm rgb(0, 0, 0);

    #apresentacao{
        padding: 10px;
        display: flex;
        align-items: end;
        justify-content: start;

        flex: 0 0 100% ;
        min-width: 100%;
        max-height: 50vw;
        box-sizing: border-box;
        scroll-snap-align: start;

        img{
            max-width: 30vw;
            min-width: 32vw;
            margin: 2px;
            display: block;
        }

        h1{
            overflow-wrap: break-word;
            word-break: break-all;
            font-size: 5vw;
            padding: 10px;

            p{
                font-size: 4vw;
                font-weight: 100;
            }
        }
    }
}

#chama_obra{
    height: 2%;
    width: 90%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;

    color: rgb(255, 255, 255);
    text-shadow: 1pt 1pt 3mm rgb(0, 0, 0);
    /* background-color: rgb(255, 255, 255);
    box-shadow: 1pt 0pt 1mm black; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    text-align: center;
    font-size: 5vw;
}

.all_obra{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px , 1.5vh));
    gap: 10vw;

    margin-inline: 8%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;



    >.obra{
        width: 100%;
        box-sizing: border-box;
        flex: 1 1 70vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 1pt 1pt 3mm black;
        color: rgb(0, 0, 0);
        padding: 15px;

        font-size: 5vw;
        font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        line-height: 1.3;


            >.descricao{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-evenly;

                font-size: clamp(1rem, 2.5vw, 2rem);

                /* text-shadow: 1pt 1pt 1pt rgb(61, 61, 61); */

                    >.nomeo{
                        text-align: center;
                        padding: 0%;
                        display: flex;
                        justify-content: center;
                        >h1{
                            font-size: 5vw;
                        }
                    }

                    >.descrito{
                        display: flex;
                        justify-content: space-evenly;
                        margin-top: 5vw;
                        font-size: 3vw;

                    >.cartaz{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                    
                        width: 40%;
                        height: 10%;
                        
                        border: 8px;
                        border-spacing: 5px;
                        border-style: double;
                        border-color: rgb(122, 105, 58);

                    
                    >#resumo{
                        text-align: justify;

                        }

                    }


                }

                >#galeria{
                    width: 100%;
                    object-fit:cover;
                    border-radius: 5%;
                    background-size: contain;
                }
            }


    }  

    >.pdf{
        display: flex;
        justify-content: end;
        width: 100%;

        >a>button{
            display: flex;
            align-items: center;
            padding: 1vh;         
            background-color: rgb(255, 255, 255);
            box-shadow: 1pt 1pt 2mm black;
            color: rgb(0, 0, 0);
            text-align: center;

            font-size:medium;
        }
    } 
  
}

.all_obra::-webkit-scrollbar{
    display: none;
}

details{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;


    summary{
        color: rgb(255, 255, 255);
        text-shadow: 1pt 1pt 3mm rgb(0, 0, 0);
        cursor: pointer;
        list-style: none;
        text-align: start;

        p{
            color: black;
        }

        h1{
            padding: 5%;
            font-size: 200%;
            text-align: start;
            text-decoration: underline;
        };

        h2{
            padding: 3vw;
            text-align: start;
            margin: 10px;
            font-size: 150%;
        };

    };
    
    >.galeria{
        display: flex;
        flex-direction: column;

        .card{
            flex: 1 1 20%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-evenly;
            align-items: start;


            background-color: rgb(255, 255, 255);
            box-shadow: 1pt 1pt 3mm black;
            width: 100%;

            img,
            video{
                margin: 5px;
                height: 35vw;
                aspect-ratio: 10 / 15;
                /* box-shadow: 1pt 1pt 3mm black; */
                object-fit: cover;
                border-radius: 2%;
            }

            details>.card{
                margin: 0;
                box-shadow: none;
            }

        }

    }
}

footer{
    background-color: black;

    display: flex;
    flex-direction: column;
    color: rgb(241, 247, 252);
    text-align: left;
    text-shadow: 1pt 1pt 2mm black;

    >.final{
        margin: 3vh;
        display: flex;
        justify-content: space-around;
        align-items: center;


        >#lema{
            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: 350%;
            font-family:fantasy;
            text-align: center;

            >#lema1{
                align-items: center;
                font-family: fantasy;
                color: rgb(233, 151, 0);
                text-shadow: 1pt 1pt 2mm rgb(0, 0, 0);
                font-size: 100%;
                text-align: center;
            }
        }

        >#arroba{
            margin: 5vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            >#logof{
                width: 100%;
            }

            >#arrobanome{
                font-size: 5vw;
                color: aliceblue;
                text-decoration: none;
            }
        }
    }

    >.ctts{
        margin: 3%;
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 120%;

        a{
            color: aliceblue;
            text-align: center;
        }

    }
}