*{
    gap: 10px;
    box-sizing: border-box;
    h1{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    p{
        font-family:'Times New Roman', Times, serif;
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    *{
        font-size: 1.5vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

:root{
    color-scheme: ligth;

    --fundo--: #ecc100;
    --caixa--: #0f1b2e;
    --topico--: #ffffff;
    --fontg--: rgb(70, 57, 57)
    
    /* --fonte--: rgb(255, 255, 255); */
    /* --cor1--: rgb(216, 166, 0);  
    --cor2--: rgb(255, 255, 255);
    --sombra--: rgb(56, 26, 26);
    --fundo1--: rgb(255, 72, 0); */
}

body{
    /* background: linear-gradient(var(--fundo--) 15%, rgb(0, 0, 0) 95%); */
    background-color: var(--fundo--);
    margin: 0;
    padding: 0;
    /* text-shadow: 1pt 1pt 3mm; */
}

hr{
    width: 100%;
    display: block;
}

b{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#exib{
    text-align: center;
}

/* head{
    margin: 0;
    width: 10vw;
} */

header{
    /* width: 100vw;
    height: 10cp; */
    padding: 10%;

    background-image: url(fotorodape.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1pt 3pt 5mm black;
    /* linear-gradient(to bottom, rgb(179, 84, 7) 10%, rgb(105, 102, 53) 90%); */


    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

    
    >#titulo{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        color: #ffc72e;
        font-style: oblique;
        text-shadow: 2px 2px 3px var(--fundo--) ;
        /* line-height: 0.8; */

            h2{
                font-size: 6vw;
            }

            >.desde{
                font-size: 3vw;
            }
        }

    >.logo{
        width: 30%;
        height: 40%;
        margin-right: 5%;

        display: flex;
        flex-wrap: nowrap;
        align-items: start;
        }

}
        
.infos{
    margin: 10px;
    color: var(--cor2--);
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    max-width: 80%;
    max-height: 30%;
    outline: none;
  

    .infores{
        padding: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        flex: 0 0 100% ;
        /* width: 100%; */
        min-width: 100%;
        max-height: 50vw;
        box-sizing: border-box;
        scroll-snap-align: start;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 8px 0 8px -5px black;

        color: white;
        text-shadow: 1pt 1pt 3mm black;
        font-size: 4vw;
        text-align: right;

            #topic{
                font-size: 6vw;
                text-align: left;

            }
    
            >#ult{
                border-left: 2px solid rgb(255, 255, 255);
                padding-left: 5vw;
                color: rgb(255, 255, 255);
            }

    }  
}



.infos::-webkit-scrollbar{
    display: none;
}

.lider{
    padding: 5vw;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
    background-color: rgb(255, 255, 255);
    box-shadow: 1pt 1pt 3mm black;

    img{
        width: 30vw;
        height: 40vw;
    }

    #nomes{
        letter-spacing: -2px;

        h1{
            font-size: 200%;
        }

        h2{
            font-size: 190%;
            font-family: 'Times New Roman', Times, serif;
        }

        p{
            font-size: 170%;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        

    }
}

.chama_obra{
    height: 2%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 1pt 0pt 1mm black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
    text-align: center;
    font-size: 8vw;
}

.all_obra{
    margin: 5mm;
    display: flex;
    flex-wrap: wrap;
    gap: 20pt;


    >.obra{
        flex: 1 1 70vh;

        /* border: 5pt;
        border-style: ridge;
        border-color:rgba(29, 27, 23, 0.103);
        border-radius: 5%; */

        /* background: linear-gradient(to top, black 5%, rgba(112, 0, 0, 0.774) 20%, rgba(151, 60, 0, 0.774) 40%, rgba(112, 0, 0, 0.774) 90%, black 100%); */
        /* background: linear-gradient(to bottom, black 10%, white 40%, black 100%); */

        background-color: rgb(255, 255, 255);
        box-shadow: 1pt 1pt 3mm black;
        color: rgb(0, 0, 0);

        font-size: 200%;
        font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        line-height: 1.3;


            >.descricao{
                padding: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-evenly;

                padding: 1%;
                margin: 0.5%;

                /* text-shadow: 1pt 1pt 1pt rgb(61, 61, 61); */

                    >.nomeo{
                        text-align: center;
                        margin: 2%;

                        h1{
                            font-size: 200%;
                        }
                    }

                    >.descrito{
                        display: flex;
                        justify-content: space-evenly;
                        margin-top: 5%;

                    >.cartaz{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                    
                        width: 50%;
                        height: 20%;
                        
                        border: 8px;
                        border-spacing: 5px;
                        border-style: double;
                        border-color: rgb(122, 105, 58);

                    >#resumo{
                        text-align: justify;
                        margin-left: 20px;
                        display: flex;
                        flex-wrap: wrap;
                        }

                    }


                }

                >#galeria{
                    width: 100%;
                    object-fit:cover;
                    border-radius: 5%;
                }
            }


    }  

    >.pdf{
        display: flex;
        justify-content: end;
        width: 100%;

        >a>button{
            display: flex;
            align-items: center;
            padding: 1vh;
            margin: auto;

            height: 10%;            
            background-color: rgb(255, 255, 255);
            box-shadow: 1pt 1pt 2mm black;
            color: rgb(0, 0, 0);
            text-align: center;
        }
    } 
  
}

details{
    margin: 5px;


    h3{
        color: aliceblue;
    }

    summary{
        box-shadow: 1pt 1pt 3mm black;
        color: var(--fontg--);
        /* text-shadow: 1pt 1pt 3mm var(--fundo--); */
        cursor: pointer;
        list-style:lower-roman;
        background: rgba(255, 255, 255, 0.774);
        

        h1{
            padding: 15px;
            font-size: 6vw;
            text-align: start;
            margin: 10px;
        }

        h2{
            padding: 3vw;
            text-align: start;
            margin: 10px;
            font-size: 5vw;
        }

    }
    
    >.galeria{
        display: flex;
        flex-direction: column;

        .card{
            flex: 1 1 20%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-evenly;
            align-items: start;


            background-color: rgba(255, 255, 255, 0.753);
            box-shadow: 1pt 1pt 3mm black;
            width: 100%;

            img,
            video{
                margin: 5px;
                height: 35vw;
                aspect-ratio: 10 / 15;
                /* box-shadow: 1pt 1pt 3mm black; */
                object-fit: cover;
                border-radius: 2%;
            }

        }

    }
}

footer{
    background-color: black;

    display: flex;
    flex-direction: column;
    color: rgb(241, 247, 252);
    text-align: left;
    text-shadow: 1pt 1pt 2mm black;

    >.final{
        margin: 3vh;
        display: flex;
        justify-content: space-around;
        align-items: center;


        >#lema{
            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: 350%;
            font-family:fantasy;
            text-align: center;

            >#lema1{
                align-items: center;
                font-family: fantasy;
                color: rgb(233, 151, 0);
                text-shadow: 1pt 1pt 2mm rgb(0, 0, 0);
                font-size: 100%;
                text-align: center;
            }
        }

        >#arroba{
            margin: 5vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            >#logof{
                width: 100%;
            }

            >#arrobanome{
                font-size: 5vw;
                color: aliceblue;
            }
        }
    }

    >.ctts{
        margin: 3%;
        display: flex;
        flex-direction: column;
        align-items: start;

        a{
            color: aliceblue;
            text-align: center;
            font-size: small;       
        }

    }
}